.loading__comp {
    width: 100vw;
    height: 100vh;
    background-color: #0e0e0e;
    display: grid;
    color: white;
    place-items: center;
    max-width: 100%;
}

.loading__comp>.loading__inner {
    width: 10vmax;
    height: 10vmax;
    border-bottom: 5px solid rgb(255, 255, 255, 0.6);
    color: white;
    border-radius: 50%;

    animation: loadingRotate 800ms linear infinite;
}

@keyframes loadingRotate {
    to {
        transform: rotateZ(-360deg);
    }
}